* {
    box-sizing: border-box;
}

body {
    display: flex;
    text-align: center;
    background: linear-gradient(45deg,#5433, #5fb3ee ) no-repeat fixed;
}

.content{
    width: calc(100% / 3);
}

.pic{
    width: calc(100% / 3);
}

p>img{
    width: 100%;
    height: 100%;
}

.header{
    display: flex;
    margin-left: 35px;
}
.headerItem{
    margin: 0;
    padding-top: 20px;
    width: 80px;
    height: 80px;
    font-size: 35px;
    text-shadow: 0.1em 0.1em 0.2em gray;
}
table {
    margin: 10px auto;
    border-collapse: collapse;
    text-shadow: 0.1em 0.1em 0.2em gray;
}

table td {

    padding: 5px;
    text-align: center;
    width: 80px;
    height: 80px;
    font-size: 40px;
}

.today {
    background: #ef6eae;
}

.change{
    width: 100px;
}

.workday {

    background: linear-gradient(0deg, rgba(167, 136, 216, 0.5) 0%, rgba(129, 5, 240, 0.5) 100%);
    opacity: 1 ;
    border: none;

}

.workday:before {
    height: 0%;
    width: 2px;
}

.workday:hover {
    background: linear-gradient(0deg, #fa709a 0%, #fee140 100%);
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    opacity: 1;

}

.weekend {
    background: rgb(236, 236, 236);
    background: linear-gradient(0deg, rgba(132, 250, 176, 0.7) 0%, rgba(143, 211, 244, 0.7) 100%);
    opacity: 1 ;
    border: none;

}

.weekend:before {
    height: 0%;
    width: 2px;
}

.weekend:hover {
    background: linear-gradient(0deg, #fa709a 0%, #fee140 100%);
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    opacity: 1;
    
}

.today{
    font-weight: bolder;
    font-style: italic;
    text-decoration: underline;
    color: crimson;
}
