* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg,#5433, #5fb3ee);
    overflow: hidden;
}

section::before{
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(#ffc107,#e91e63);
    border-radius: 200px;
    left: 10%;
    top: 10%;
    /* transform: translate(-250px, -120px); */
}

section::after{
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background: linear-gradient(#2196f3,#31ff38);
    border-radius: 200px;
    right: 20%;
    bottom: 15%;
    /* transform: translate(250px, 150px); */
    
}

.box{
    position: relative;
    z-index: 100;
}

.container{
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    /* background-color: #FFf; */
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    border: 3px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    min-height: 400px;
    min-width: 400px;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.topic{
    margin-top: 50px;
    width: 100%;
    position: relative;
    font-weight: 900;
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    text-align: center;
}

.topic span{
    position: relative;
    display: inline-block;
    font-size: 3rem;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(.1s*var(--i));
    color: #5CA17C;
    background: -webkit-linear-gradient( #26BDA6, #FF9F65, #DED37E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

@keyframes animate{
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-24px);
    }
    40%, 100%{
        transform: translateY(0px);
    }
}

.nav span{
    padding: 10px 50px;
    margin: 10px 50px;
    font-size: 40px;
}

.now>{
    text-decoration: none;
   background-color: #31ff38;
}

.header{
    display: flex;
    margin: 10px 300px;
}

.headerItem{
    margin: 0;
    padding-top: 20px;
    width: 80px;
    height: 80px;
    font-size: 35px;
    text-shadow: 0.1em 0.1em 0.2em gray;
}
table {
    margin: 10px auto;
    border-collapse: collapse;
    text-shadow: 0.1em 0.1em 0.2em gray;
}

table td {

    padding: 5px;
    text-align: center;
    width: 80px;
    height: 80px;
    font-size: 40px;
}

.today {
    background: #ef6eae;
}

.change{
    width: 100px;
}

.workday {

    background: linear-gradient(0deg, rgba(167, 136, 216, 0.5) 0%, rgba(129, 5, 240, 0.5) 100%);
    opacity: 1 ;
    border: none;

}

.workday:before {
    height: 0%;
    width: 2px;
}

.workday:hover {
    background: linear-gradient(0deg, #fa709a 0%, #fee140 100%);
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    opacity: 1;

}

.weekend {
    background: rgb(236, 236, 236);
    background: linear-gradient(0deg, rgba(132, 250, 176, 0.7) 0%, rgba(143, 211, 244, 0.7) 100%);
    opacity: 1 ;
    border: none;

}

.weekend:before {
    height: 0%;
    width: 2px;
}

.weekend:hover {
    background: linear-gradient(0deg, #fa709a 0%, #fee140 100%);
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    opacity: 1;
    
}

.today{
    font-weight: bolder;
    font-style: italic;
    text-decoration: underline;
    color: crimson;
}
