* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

table {
    margin: 10px auto;
    border-collapse: collapse;
}

table td {

    padding: 5px;
    text-align: center;
    width: 80px;
    height: 80px;
    font-size: 40px;
}

.today {
    background: #ef6eae;
}


.workday {
    background: rgb(236, 236, 236);
    background: linear-gradient(0deg, rgb(167, 136, 216) 0%, rgba(129, 5, 240) 100%);
    opacity: 1 ;
    border: none;

}

.workday:before {
    height: 0%;
    width: 2px;
}

.workday:hover {
    background: linear-gradient(0deg, #fa709a 0%, #fee140 100%);
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    opacity: 1;

}

.weekend {
    background: rgb(236, 236, 236);
    background: linear-gradient(0deg, #84fab0 0%, #8fd3f4 100%);
    opacity: 1 ;
    border: none;

}

.weekend:before {
    height: 0%;
    width: 2px;
}

.weekend:hover {
    background: linear-gradient(0deg, #fa709a 0%, #fee140 100%);
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    opacity: 1;
    
}